<form action="/albums/{{AlbumId}}/update" method="POST">
    <div>
        <label for="name">Title: </label>
        <input type="text" name="title" placeholder={{Title}}>
    </div>
    <div>
        <label for="name">Artist: </label>
        <input type="text" name="artist">
    </div>
    <div>
        <label for="name">Year Released: </label>
        <input type="text" name="yearReleased">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>